<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--  移動端預覽設置  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  /移動端預覽設置  -->
    <title>首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    引入me.css來調整間距-->
    <link rel="stylesheet" href="../../static/css/me.css" >
</head>
<body>

<br>
<br>
<br>
<br>

    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-huge">
            <div class="ui container">
                <h2>404</h2>
                <p>對不起，你訪問的資源不存在</p>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>


</body>
</html>