<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" home icon"></i> 首頁</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i> 分類</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i> 標籤</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i> 歸檔</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i> 關於我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon transparent inverted input ">
                    <input type="text" placeholder="Search...">

                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
    <h1>404</h1>

<!--字元引入-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

</body>
</html>