<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <!--  移動端預覽設置  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  /移動端預覽設置  -->
  <title>關於我</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <!--    引入me.css來調整間距-->
  <link rel="stylesheet" href="../static/css/me.css">

</head>
<body>

<!--導航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">Blog</h2>
      <a href="#" class=" m-item item m-mobile-hide"><i class=" home icon"></i> 首頁</a>
      <a href="#" class=" m-item item m-mobile-hide"><i class=" idea icon"></i> 分類</a>
      <a href="#" class=" m-item item m-mobile-hide"><i class=" tags icon"></i> 標籤</a>
      <a href="#" class=" m-item item m-mobile-hide"><i class=" clone icon"></i> 歸檔</a>
      <a href="#" class="active m-item item m-mobile-hide"><i class=" info icon"></i> 關於我</a>
      <div class="right m-item item m-mobile-hide">
        <div class="ui icon transparent inverted input ">
          <input type="text" placeholder="Search...">

          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--中間內容-->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="eleven wide column ">
        <div class="ui segment">

          <img src="https://unsplash.it/800/600?image=1005" class="ui rounded image" alt="">
        </div>
      </div>
      <div class="five wide column ">
        <div class="ui top attached segment">
          <div class="ui header">關於我</div>
        </div>
        <div class="ui attached segment">
          <p class="m-text">姚欽和，自學轉職的軟體工程師</p>
          <p class="m-text">我喜歡研究問題的來龍去脈，是善於思考的人</p>
        </div>
        <div class="ui attached fluid segment ">
          <div class="ui orange basic label left pointing m-margin-tb-tiny">思考</div>
          <div class="ui orange basic label left pointing m-margin-tb-tiny">編程</div>
          <div class="ui orange basic label left pointing m-margin-tb-tiny">運動</div>
          <div class="ui orange basic label left pointing m-margin-tb-tiny">電玩</div>
        </div>
        <div class="ui attached segment">
          <div class="ui teal basic label left pointing m-margin-tb-tiny">Java</div>
          <div class="ui teal basic label left pointing m-margin-tb-tiny">HTML</div>
          <div class="ui teal basic label left pointing m-margin-tb-tiny">CSS</div>
          <div class="ui teal basic label left pointing m-margin-tb-tiny">MySQL</div>
          <div class="ui teal basic label left pointing m-margin-tb-tiny">Spring</div>
          <div class="ui teal basic label left pointing m-margin-tb-tiny">Javascript</div>


        </div>
        <!--彈出二維碼-->
        <div class="ui bottom attached segment">
          <a href="#" class="ui gh circular icon button" data-content="JackYao" data-position="bottom center"><i class=" github icon"></i></a>
          <a href="#" class="ui line circular icon button"><i class="linechat icon"></i></a>
        </div>
        <!--要彈出的二維碼圖-->
        <div class="ui line-qr flowing popup transition hidden" >
          <img src="../static/images/footerQrcode.png" alt="" class="ui rounded image" style="width: 150px">
        </div>

      </div>

    </div>
  </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class=" vertical inverted segment ui m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class=" ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list"></div>
        <div class="item">
          <img src="../static/images/footerQrcode.png" class="ui rounded centered image" alt="" style="width: 110px"/>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
        <div class="ui inverted link list"></div>
        <a href="#" class="item">用戶故事(User Story)<br></a>
        <a href="#" class="item">關於刻意練習的清單<br></a>
        <a href="#" class="item">失敗要趁早<br></a>
      </div>
      <div class="three wide column"><h4 class="ui inverted header m-text-thin m-text-spaced">聯繫我</h4>
        <div class="ui inverted link list"></div>
        <a href="#" class="item m-text-lighter ">Email:q82717182q@gmail.com<br></a>
        <a href="#" class="item">Line:yaoyao25<br></a>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
        <div class="ui inverted link list"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">這是我的個人博客，我喜歡運動，研究新奇的事物，是善於思考的好奇寶寶</p>
      </div>

    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright 2021 Designed by Jack Yao</p>
  </div>
</footer>

<!--字元引入-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })
    $('.gh').popup();
    $('.line').popup({
        popup: $('.line-qr.popup'),
        position: 'bottom center'
    });

</script>
</body>
</html>